<div class="container margin_50">
    <div class="page_header">
      <h1 class="pl-1 pt-2">Your Profile</h1>
      <p class="pl-1">Manage your orders</p>
      <hr />
    </div>
    <!-- /page_header -->
    <h4>My Orders</h4>
    <div class="row justify-content-center">        
        {{# each orders }}
            <div class="card w-75 my-2">
          <div class="card-body">
              <ul class="list-group">
                  {{# each this.items }}
                    <li class="list-group-item">                      
                      {{ this.item.name }} | {{ this.qty }} Units
                      <span class="badge badge-secondary">{{ this.price }}</span>
                    </li>
                  {{/each}}                  
              </ul>
          </div>
          <div class="card-footer">
            <div>
              <strong>Status: </strong><span class="badge badge-primary">Preparing</span>
            </div>
            <strong>Total Price: {{ this.cart.totalPrice }}đ</strong>
          </div>
      </div>
        {{/each}}      
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->