<main class="bg_gray">

    <div class="container margin_60">
        <div class="main_title">
            <h2>Contact Huimitu</h2>
            <p>Hãy liên hệ với chúng tôi qua</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="box_contacts">
                    <i class="ti-support"></i>
                    <h2>Huimitu Help Center</h2>
                    <a href="#0">+84 1900 112233</a> - <a href="#0">help@huimitu.com</a>
                    <small>MON to FRI 9am-6pm SAT 9am-2pm</small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_contacts">
                    <i class="ti-map-alt"></i>
                    <h2>Huimitu Showroom</h2>
                    <div>227 Nguyễn Văn Cừ, Quận 5, TpHCM</div>
                    <small>MON to FRI 9am-6pm SAT 9am-2pm</small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_contacts">
                    <i class="ti-package"></i>
                    <h2>Huimitu Orders</h2>
                    <a href="#0">+84 1111 0000</a> - <a href="#0">order@huimitu.com</a>
                    <small>MON to FRI 9am-6pm SAT 9am-2pm</small>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <div class="bg_white">
        <div class="container margin_60_35" style="margin-left:585px;">
            <h4 class="pb-3">Để lại lời nhắn cho chúng tôi</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 add_bottom_25">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Name *">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Email *">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" style="height: 150px;" placeholder="Message *"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn_1 full-width" type="submit" value="Submit">
                    </div>
                </div>
                
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_white -->
</main>