<form class="bg_gray" method="POST" action="">

  <div class="container margin_30">
    <div class="page_header">
      <h1>Sign In</h1>
    </div>
    <!-- /page_header -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <div class="box_account">
          <h3 class="client">Login</h3>
          {{#if success_msg}}
            <div class="alert alert-success" role="alert">
              {{success_msg}}
            </div>
          {{/if}}
          {{#if error_msg}}
            <div class="alert alert-danger" role="alert">
              {{error_msg}}
            </div>
          {{/if}}
          {{#if error}}
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          {{/if}}
          <div class="form_container">
            <div class="row no-gutters">
              <div class="col-lg-6 pr-lg-1">
                <a href="#0" class="social_bt facebook">Login with Facebook</a>
              </div>
              <div class="col-lg-6 pl-lg-1">
                <a href="/login/federated/google" class="social_bt google">Login
                  with Google</a>
              </div>
            </div>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Email*"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                value=""
                placeholder="Password*"
              />
            </div>
            <div class="clearfix add_bottom_15">
              <div class="checkboxes float-left">
                <label class="container_check">Remember me
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="float-right"><a
                  id="forgot"
                  href="javascript:void(0);"
                >Lost Password?</a></div>
            </div>
            <div class="text-center"><input
                type="submit"
                value="Log In"
                class="btn_1 full-width"
              /></div>
            <div id="forgot_pw">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email_forgot"
                  id="email_forgot"
                  placeholder="Type your email"
                />
              </div>
              <p>A new password will be sent shortly.</p>
              <div class="text-center"><input
                  type="submit"
                  value="Reset Password"
                  class="btn_1"
                /></div>
            </div>
          </div>
          <!-- /form_container -->
        </div>
        <!-- /box_account -->
        <div class="row mt-4">
          <div class="col-md-6 d-none d-lg-block">
            <div class="box_account">
              <span>
                Don't have an account?
                <a href="/register">Register now!</a>
              </span>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</form>